backup
rcnn/selective_search/*.m
rcnn/selective_search/SelectiveSearchCodeIJCV
rcnn/imdb/cache
rcnn/cachedir
rcnn/feat_cache
rcnn/data
rcnn/figures
*~
liblinear-1.96
weak_added_figure
caches_weak_finetune_from_imagenet
caches_weak_all_images
caches
caches_to_use
caches_ori
MALSAR1.1
results
SelfPacedAPI
get_cache_files.sh
